.testimonial {
  margin: 50px 0px;
}

.testcard {
  background: url("../../Assets/images/pattren1.svg");
  padding: 5%;
  text-align: center;
  display: grid;
  row-gap: 30px;
  width: 80%;
  margin: auto;
  border-radius: 20px;
  background-size: contain;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-attachment: fixed;
}

.testcard img {
  width: 20%;
}

.testcard p {
  width: 60%;
  margin: auto;
}
